/**
 *
 * Size increase
 *
 */

@media screen and (min-width: 400px) {
  h1 {
    font-size: 2.5em;
  }

  .spinner {
    font-size: 10em;
  }

  .input-label {
    font-size: 1.4em;
  }

  .ui-widget {
    font-size: 0.9em;
  }
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width: 600px) {
  .ui-widget {
    font-size: 1em;
  }
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width: 750px) {
  h1 {
    font-size: 3em;
  }

  .spinner {
    font-size: 12em;
  }

  .input-label {
    font-size: 1.5em;
  }

  .input-field {
    margin: 0 1.2em 0 0;
    width: auto;
  }
}

/**
 *
 * Size increase
 *
 */

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4.5em;
  }

  .spinner {
    font-size: 15em;
  }
}
