/*
 *
 * Main
 *
 */

img,
embeb,
object,
video {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
}

header,
footer,
div,
form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #e9e2d0;
  width: 90%;
  margin: auto;
  font-size: 17px;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 1.5em;
  font-weight: 500;
  margin: auto;
  color: #ea9085;
  background-color: #6e5773;
  border: 2px dotted #d45d79;
  max-width: 1400px;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

.main{
	max-width: 1400px;
	margin: auto;
}

/*
 *
 * Input fields
 *
 */

 .input-form-container{
 	width: 100%;
	border: 2px dotted #d45d79;
	margin: 1.5em auto 0.5em auto;
	padding: 0.5em 0 0.5em 0;
	justify-content: center;
	background-color: #eadfee;
 }

 .size-picker-form {
 	align-items: center;
 }

input[type=number] {
  width: 4em;
  border: 1px dotted #6e5773;
  position: relative;
  display: inline-block;
}

input[type=color] {
	-webkit-appearance: none;
	width: 32px;
	height: 32px;
	position: relative;
	display: inline-block;
}


/*
 *
 * Canvas
 *
 */

.canvas-container{
	width: 100%;
}

.pixel-canvas-hidden{
	display: none;
}

table {
  border-collapse: collapse;
  margin: 1em auto 1em auto;
  border: 2px solid #6e5773;
  background-color: #fff;
}

td,
tr {
  border: 0.5px solid #ffdde2;
}

.td-xs,
.tr-xs {
  height: 5px;
  width: 5px;
}

.td-s,
.tr-s {
  height: 10px;
  width: 10px;
}

.td-m,
.tr-m {
  height: 15px;
  width: 15px;
}

.td-l,
.tr-l {
  height: 20px;
  width: 20px;
}

.td-xl,
.tr-xl {
  height: 25px;
  width: 25px;
}

/*
 *
 * Buttons
 *
 */

.toolbox {
  margin: 2em 0 1em 0;
  justify-content: center;
  width: 100%;
}

.toolbox-hidden {
  display: none;
}

.btn {
  border-radius: 4px;
  border: 2px solid #6e5773;
  margin: 0 0.3em 0 0.3em;
  background-color: #fff;
  color: #6e5773;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  height: 43px;
  width: 43px;
  outline:0;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(200%);
  color: #ea9085;
  border-color: #ea9085;
}

.btn:hover,
.btn:focus {
  color: #ea9085;
  border-color: #ea9085;
  background-color: white;
}

.btn-color-picker {
  height: 31px;
  width: 31px;
  padding: 4px 4px 4px 4px;
}

.actionbox {
  margin: 1.5em 0 1em 0;
  justify-content: center;
  width: 100%;
}

.actionbox-hidden {
  display: none;
}

/*
 *
 * Firefox Hacks
 *
 */

/*
Hack needed for compensating the fact that Firefox
does not compute the height (width)=height (width) property + padding
*/
@-moz-document url-prefix() {
  .btn-color-picker {
    height: 43px !important;
    width: 43px !important;
  }
}

/*
Hack needed since for some reason the icon on this button was not centered.
Weirdly enough, a padding 0 solves the issue
*/
@-moz-document url-prefix() {
  .btn-reset-canvas{
    padding: 0 !important;
  }
}

/*
 *
 * Footer
 *
 */

 footer {
  margin: 1em 0 0 0;
  padding: 0.4em 0.4em 0.4em 0.4em;
  width: 100%;
  border-top: 1px dotted #d45d79;
}

footer ul {
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;
}

footer li {
  display: inline;
  margin: 0 0.5em;
}

footer a {
  text-decoration: none;
  color: #333;
}

.footer-credits {
  font-size: 0.7em;
  margin: 5px 0 0 0;
  padding: 0 0 10px 0;
}

#dialog{
  display: none;
}

.footer-credits-title {
  font-weight: 600;
}

/*
 *
 * Dialog
 *
 */

.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-buttonpane
{
  width: 100%;
}

.ui-dialog-title {
    width: 100% !important;
}

.ui-widget-header{
	color: #f98c84;
	background-color: #6e5773;
}

.ui-dialog .ui-dialog-buttonpane {
  display: inline-block;
  text-align: center;
  padding: 0.3em 0.4em 0.5em 0.4em;
	border-top: 1px dotted #d45d79;
}

.ui-dialog .ui-dialog-buttonset {
  display: inline-block;
  text-align: center;
  float: none !important;
}

.ui-button:active {
   border-color: #ea9085;
   transform: translateY(1px);
   filter: saturate(200%);
}

.ui-button:hover,
.ui-button:focus
 {
  background-color: #ea9085;
  border-color: #ea9085;
  outline: 0;
  color: #fff;
}

.ui-widget.ui-widget-content {
    border: 1px dotted #d45d79;
}

.ui-dialog-titlebar-close{
  display: none;
}