/*
 *
 * Main
 *
 */

img,
embeb,
object,
video {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
}

header,
footer,
div,
form,
h1 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

body {
  text-align: center;
  background-color: #e9e2d0;
  width: 90%;
  margin: auto;
  font-size: 17px;
}

h1 {
  font-family: "Monoton";
  font-size: 1.6em;
  font-weight: 500;
  margin: 0.5em auto auto auto;
  color: #ea9085;
  background-color: #6e5773;
  border: 2px dotted #d45d79;
  max-width: 1400px;
  height: 2em;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

a {
	text-decoration: none;
}

.main{
	max-width: 1400px;
	margin: auto;
}

/*
 *
 * Input fields
 *
 */

.input-label{
	margin: 0 0.5em 0 0;
	font-family: "Bungee Inline";
	color: #6e5773;
	font-size: 1.1em;
	font-weight: 300;
}

.input-field {
	margin: 0 0.1em 1em 0.1em;
	width: 100%;
	justify-content: center;
	align-items: center;
}

 .input-form-container{
 	width: 100%;
	border: 2px dotted #d45d79;
	margin: 1.5em auto 0.5em auto;
	padding: 0.5em 0 0.5em 0;
	justify-content: center;
	background-color: #eadfee;
	align-items: center;
 }

 .size-picker-form {
 	align-items: center;
 	justify-content: center;
 	width: 100%;
 }

input[type=number] {
  width: 3.0em;
  height: 1.5em;
  border: 1px dotted #6e5773;
  position: relative;
  display: inline-block;
  height: 25px;
  font-size: 1.05em;
  color: #362b39;
}

input[type=color] {
	-webkit-appearance: none;
	width: 32px;
	height: 32px;
	position: relative;
	display: inline-block;
}


/*
 *
 * Canvas
 *
 */

#pixelCanvas {
	table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid #6e5773;
  background-color: #fff;
  max-width: 100%;
  min-width: 200px;
  width: 100%;
}

.pixel-canvas-hidden{
	display: none;
}

.pixel-canvas{
	display: table;
}

#pixelCanvas td,
#pixelCanvas tr {
  border: 0.5px solid #ffdde2;
}


/*
 *
 * Buttons
 *
 */

.toolbox {
  margin: 2em 0 1em 0;
  justify-content: center;
  width: 100%;
}

.toolbox-hidden {
  display: none;
}

.btn {
  border-radius: 5px;
  border: 2px solid #6e5773;
  margin: 0 0.3em 0 0.3em;
  background-color: #fff;
  color: #6e5773;
  cursor: pointer;
  padding: 0;
  height: 43px;
  width: 43px;
  outline:0;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(200%);
  color: #ea9085;
  border-color: #ea9085;
}

.btn:hover,
.btn:focus
 {
  color: #ea9085;
  border-color: #ea9085;
  background-color: white;
}

.btn-color-picker {
  height: 31px;
  width: 31px;
  padding: 4px 4px 4px 4px;
}

#btnToolPaintBrush.btn-pressed,
#btnToolEraser.btn-pressed {
  color: #d45d79;
  border: 2px dotted #d45d79;
  transform: translateY(1px);
}


.actionbox {
  margin: 1.5em 0 1em 0;
  justify-content: center;
  width: 100%;
}

.actionbox-hidden {
  display: none;
}

#btnLoadCanvasInput {
  display: none;
}

/*
*
* Help
*
*/

.btn-help-visible {
  transition: opacity 1s linear;
  opacity: 0.5;
  display: block;
}

.btn-help-hidden {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#btnHelp:active {
	transform: scale(1.1);
}

#btnHelp:focus {
	color: #6e5773;
}

#btnHelp {
	width: 40px;
	height: 40px;
  border: none;
	position: fixed;
	top: 10px;
	right: 5px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(205,171,219,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(205,171,219,1);
	box-shadow: 0px 0px 11px 0px rgba(205,171,219,1);
}

/*
*
* Back to top
*
*/

#btnBacktoTop {
	width: 40px;
	height: 40px;
  border: none;
	position: fixed;
	bottom: 10px;
	right: 5px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(205,171,219,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(205,171,219,1);
	box-shadow: 0px 0px 11px 0px rgba(205,171,219,1);
}

#btnBacktoTop:focus {
	color: #6e5773;
}

.btn-backtotop-visible {
  transition: opacity 1s linear;
  opacity: 0.75;
  display: block;
}

.btn-backtotop-hidden {
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.btn-backtotop:active {
	transform: scale(1.1);
}


/*
 *
 * Hacks
 *
 */

/*
Hack needed for compensating the fact that Firefox
does not compute the height (width)=height (width) property + padding
*/
@-moz-document url-prefix() {
  .btn-color-picker {
    height: 43px !important;
    width: 43px !important;
  }
}

/*
Hack needed since for some reason the icon on this button was not centered.
Weirdly enough, a padding 0 solves the issue
*/
@-moz-document url-prefix() {
  .btn-reset-canvas{
    padding: 0 !important;
  }
}


/*
Hack for Chrome so that up/down arrows for input number
are always shown
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

/*
 *
 * Footer
 *
 */

 footer {
  margin: 1em 0 0 0;
  padding: 0.4em 0.4em 0.4em 0.4em;
  width: 100%;
  border-top: 1px dotted #d45d79;
}

footer ul {
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
}

footer li {
  display: inline;
  margin: 0 0.5em;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #56445a;
}

footer a:hover {
	color: #ea9085;
	font-size: 1.05em;
}

.footer-credits,
.footer-samples
 {
 	width: 100%;
  font-size: 0.8em;
  margin: 5px 0 0 0;
  padding: 0 0 10px 0;
  align-content: center;
}

.footer-credits-title,
.footer-samples-title
 {
  font-weight: 600;
}

/*
 *
 * Dialog
 *
 */

 /*
Some of these changes can be done by using jQuery UI dialog classes option.
Somehow, I couldn't replace the CSS values by using this way.
I decided to change the original CSS classes directly for readability
 */

#dialog{
  display: none;
}

.ui-widget{
	font-size: 0.85em;
}

.dialog-list{
  padding: 0;
  margin: 0 0 0 2em;
  text-align: left;
}

.dialog-list-element{
  margin: 0 0 0.5em 0;
}

.dialog-text-intro{
	width: 100%;
	margin: 0 0 1em 0;
	text-align: left;
}

.dialog-list-text-below{
	margin: 0;
}

.ui-dialog {
	max-width: 600px;
	width: 100% !important;
	min-width: 240px;
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-buttonpane
{
  width: 100%;
}

.ui-dialog-title {
  width: 100% !important;
}

.ui-widget-header{
	color: #f98c84;
	background-color: #6e5773;
}

.ui-dialog .ui-dialog-buttonpane {
  display: inline-block;
  text-align: center;
  padding: 0.3em 0.4em 0.5em 0.4em;
	border-top: 1px dotted #d45d79;
}

.ui-dialog .ui-dialog-buttonset {
  display: inline-block;
  text-align: center;
  float: none !important;
}

.ui-button:active {
	border-color: #ea9085;
 	transform: translateY(1px);
 	filter: saturate(200%);
}

.ui-button:hover,
.ui-button:focus
 {
  background-color: #ea9085;
  border-color: #ea9085;
  outline: 0;
  color: #fff;
}

.ui-widget.ui-widget-content {
  border: 1px dotted #d45d79;
}

.no-close .ui-dialog-titlebar-close{
  display: none;
}

.ui-dialog .ui-dialog-content{
	width: 100% !important;
  justify-content: center;
}